<!DOCTYPE html>
<html lang="en" layout:decorate="~{/layouts/layout}">
  <th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/upload.css}">
  </th:block>
  <div layout:fragment="content">
    <div class="container px-6 mx-auto grid">
      <h2 class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200">
        Movie 등록
      </h2>
      <div
        class="px-4 py-3 mb-8 bg-white rounded-lg shadow-md dark:bg-gray-800"
      >
        <form th:action="@{create}" method="post" id="createForm">
          <label class="block text-sm mt-4">
            <span class="text-gray-700 dark:text-gray-400">제목</span>
            <input
            name="title"
              class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
              placeholder="제목"
            />
          </label>
          <label class="block text-sm mt-4">
            <span class="text-gray-700 dark:text-gray-400">Image Files</span>
            <input
              type="file"
              class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
              placeholder="포스터"
              multiple
              accept="image/png, image/jpeg"
            />
          </label>
          <div class="mt-4">
            <button
            type="submit"
              class="px-4 py-2 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-dark-600 border border-transparent rounded-lg active:bg-black-600 hover:bg-teal-600 focus:outline-none focus:shadow-outline-purple create"
            >
              등록
            </button>
            <a
              th:href="@{list(page=${requestDTO.page}, size=${requestDTO.size}, type=${requestDTO.type}, keyword=${requestDTO.keyword})}"
              class="px-4 py-2 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-dark-600 border border-transparent rounded-lg active:bg-black-600 hover:bg-gray-700 focus:outline-none focus:shadow-outline-purple toList"
            >
              목록
            </a>
          </div>
        </form>
        <!-- 영화이미지 영역 -->
        <div class="uploadResult mt-4 text-black">
          <ul class="transition-colors bg-gray-800">
          </ul>
        </div>

        <!-- 리뷰 영역 -->

        <!-- 리뷰 폼 -->
      </div>
    </div>
  </div>
  <th:block layout:fragment="script">
    <script th:src="@{/js/upload.js}"></script>
  </th:block>
</html>
