<header data-bs-theme="dark" th:fragment="header">
  <div class="collapse text-bg-dark" id="navbarHeader">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-md-7 py-4">
          <h4>Books</h4>
          <p class="text-body-secondary">
            우리의 사명은 모든 사람이 다양한 지식 및 (예술)문화콘텐츠를 경험해
            지적/문화적/사회적으로 성장할 수 있도록 도와드리는 것입니다.
            <li>
              지적 성장 : ‘지식’습득을 넘어 스스로 생각을 키워 나가는 ‘지성’을
              함양하는 것
            </li>
            <li>
              문화적 성장 : 다양한 지식과 예술문화콘텐츠를 수용, 해석, 창작하는
              역량을 갖추는 것
            </li>
            <li>
              사회적 성장 : 지적/문화적 성장을 통해 사회에 선한 영향을 끼치는
              사람으로 변화하는 것
            </li>
          </p>
        </div>
        <div class="col-sm-4 offset-md-1 py-4">
          <h4>Contact</h4>
          <ul class="list-unstyled">
            <li>
              <a th:href="@{/book/bookList}" class="text-white">도서 목록</a>
            </li>
            <li>
              <a th:href="@{/book/create}" class="text-white">도서 등록</a>
            </li>
            <li><a href="#" class="text-white">Email me</a></li>
          </ul>
          <form class="'d-flex" role="search">
            <select name="type" id="type" class="form-select me-2">
              <option value="">조건 선택</option>
              <option value="c">분류</option>
              <option value="t">제목</option>
              <option value="w">저자</option>
            </select>
            <input
              class="form-control me-2"
              type="search"
              name="keyword"
              placeholder="Search"
              aria-label="Search"
            />
            <button
              type="submit"
              class="btn btn-outline-success d-flex align-items-end flex-column mb-3"
            >
              검색
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="navbar navbar-dark bg-dark shadow-sm">
    <div class="container">
      <a href="/" class="navbar-brand d-flex align-items-center">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="20"
          height="20"
          fill="none"
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          aria-hidden="true"
          class="me-2"
          viewBox="0 0 24 24"
        >
          <path
            d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"
          />
          <circle cx="12" cy="13" r="4" />
        </svg>
        <strong>Book Project</strong>
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarHeader"
        aria-controls="navbarHeader"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </div>
</header>
