<!DOCTYPE html>
<html lang="en" layout:decorate="~{/layouts/layout}">
  <th:block layout:fragment="css">
    <style></style>
    <!-- 개별 css영역 -->
  </th:block>
  <div layout:fragment="content" class="container">
    <section class="py-5 text-center container">
      <h1 class="fw-light">도서 목록</h1>
      <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">번호</th>
                <th scope="col">분류</th>
                <th scope="col">제목</th>
                <th scope="col">저자</th>
                <th scope="col">출판사</th>
              </tr>
            </thead>
            <div th:each="dto : ${result.dtoList}">
              <tbody>
                <tr>
                  <th scope="row" th:text="${dto.id}"></th>
                  <td th:text="${dto.categoryName}"></td>
                  <td>
                    <a
                      th:href="@{/book/read(id=${dto.id},page=${result.page}, size=${result.size}, type=${pageRequestDTO.type}, keyword=${pageRequestDTO.keyword})}"
                      th:text="${dto.title}"
                      class="text-decoration-none text-reset"
                    ></a>
                  </td>
                  <td th:text="${dto.writer}"></td>
                  <td th:text="${dto.publisherName}"></td>
                </tr>
              </tbody>
            </div>
          </table>
        </div>
      </div>
    </section>
    <nav aria-label="...">
      <ul class="pagination justify-content-center">
        <li class="page-item" th:if="${result.prev}">
          <a
            class="page-link"
            th:href="@{bookList(page = ${result.start-1},size = ${result.size})}"
            >Prev목록</a
          >
        </li>
        <li class="page-item">
          <a
            class="page-link"
            th:href="@{bookList(page = ${result.page == 1 ? 1 : result.page-1},size = ${result.size})}"
            >이전</a
          >
        </li>

        <li
          th:each="page : ${result.pageList}"
          th:class="'page-item ' + ${result.page == page ? 'active' : ''}"
          aria-current="page"
        >
          <a
            class="page-link"
            th:href="@{bookList(page=${page}, size=${result.size}, type=${pageRequestDTO.type}, keyword=${pageRequestDTO.keyword})}"
            th:text="${page}"
          ></a>
        </li>

        <li class="page-item">
          <a
            class="page-link"
            th:href="@{bookList(page = ${result.page == result.end ? result.end : result.page+1},size = ${result.size})}"
            >다음</a
          >
        </li>
        <li class="page-item" th:if="${result.next}">
          <a
            class="page-link"
            th:href="@{bookList(page = ${result.end+1},size = ${result.size})}"
            >Next목록</a
          >
        </li>
      </ul>
    </nav>

    <div class="album py-5 bg-body-tertiary">
      <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
          <div class="col" th:each="dto : ${result.dtoList}">
            <div class="card shadow-sm">
              <svg
                class="bd-placeholder-img card-img-top"
                width="100%"
                height="225"
                xmlns="http://www.w3.org/2000/svg"
                role="img"
                aria-label="Placeholder: Thumbnail"
                preserveAspectRatio="xMidYMid slice"
                focusable="false"
              >
                <title>Placeholder</title>
                <rect width="100%" height="100%" fill="#55595c" />
                <text
                  x="50%"
                  y="50%"
                  fill="#eceeef"
                  dy=".3em"
                  th:text="${dto.title}"
                ></text>
              </svg>
              <div class="card-body">
                <p class="card-text">
                  [[${dto.writer}]] 작가
                  <li>판매가격 : [[${dto.price}]]원</li>
                  <li>할인가 : [[${dto.salePrice}]]원</li>
                  <li>
                    할인률 : [[${dto.price - dto.salePrice}/${dto.price}*100]]%
                  </li>
                </p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button
                      type="button"
                      class="btn btn-sm btn-outline-secondary"
                    >
                      <a
                        th:href="@{/book/read(id=${dto.id})}"
                        class="text-decoration-none text-reset"
                        >View</a
                      >
                    </button>
                    <button
                      type="button"
                      class="btn btn-sm btn-outline-secondary"
                    >
                      <a
                        th:href="@{modify(id=${dto.id})}"
                        class="text-decoration-none text-reset"
                        >Edit</a
                      >
                    </button>
                  </div>
                  <small class="text-body-secondary"
                    >[[${#temporals.format(dto.lastModifiedDateTime, 'mm')}]]분
                    전</small
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <nav aria-label="...">
      <ul class="pagination justify-content-center">
        <li class="page-item" th:if="${result.prev}">
          <a
            class="page-link"
            th:href="@{bookList(page = ${result.start-1},size = ${result.size})}"
            >Prev목록</a
          >
        </li>
        <li class="page-item">
          <a
            class="page-link"
            th:href="@{bookList(page = ${result.page == 1 ? 1 : result.page-1},size = ${result.size})}"
            >이전</a
          >
        </li>

        <li
          th:each="page : ${result.pageList}"
          th:class="'page-item ' + ${result.page == page ? 'active' : ''}"
          aria-current="page"
        >
          <a
            class="page-link"
            th:href="@{bookList(page=${page}, size=${result.size})}"
            th:text="${page}"
          ></a>
        </li>

        <li class="page-item">
          <a
            class="page-link"
            th:href="@{bookList(page = ${result.page == result.end ? result.end : result.page+1},size = ${result.size})}"
            >다음</a
          >
        </li>
        <li class="page-item" th:if="${result.next}">
          <a
            class="page-link"
            th:href="@{bookList(page = ${result.end+1},size = ${result.size})}"
            >Next목록</a
          >
        </li>
      </ul>
    </nav>
  </div>
  <th:block layout:fragment="script">
    <script>
      const id = "[[${id}]]";
      if (id) {
        alert(id);
      }

      // document.querySelector(".page-link").addEventListener("click", (e) => {
      //   const page = "[[${result.page}]]";
      //   const startPage = "[[${result.start}]]";
      //   const endPage = "[[${result.end}]]";
      //   e.preventDefault();

      //   if (page == startPage || endPage) {
      //     return;
      //   }
      // });
    </script>
    <!-- script 영역 -->
  </th:block>
</html>
