<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>LOGIN</h1>
    <form action="" method="post" th:object="${loginDTO}">
      <div>
        <label for="userid">userid</label>
        <input
          type="test"
          name="userid"
          id="userid"
          th:value="${loginDTO.userid}"
        />
        <div
          class="text-danger"
          th:if="${#fields.hasErrors('userid')}"
          th:errors="*{userid}"
        ></div>
      </div>
      <div>
        <label for="password">password</label>
        <input
          type="password"
          name="password"
          id="password"
          th:value="${loginDTO.password}"
        />
        <div
          class="text-danger"
          th:if="${#fields.hasErrors('password')}"
          th:errors="*{password}"
        ></div>
      </div>
      <button>로그인</button>
    </form>
  </body>
</html>
