<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css"
      integrity="sha512-5Hs3dF2AEPkpNAR7UiOHba+lRSJNeM2ECkwxUIxC1Q/FLycGTbNapWXB4tP889k5T5Ju8fs4b1P5z/iB4nMfSQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <input
      type="file"
      name="uploadFiles"
      id=""
      multiple
      accept="image/png, image/jpeg"
    />
    <button id="uploadBtn">업로드</button>
    <div id="output"></div>
    <script>
      // x를 누르면 삭제 요청 => 부모에게 이벤트 걸기
      document.querySelector("#output").addEventListener("click", (e) => {
        // a태그 기능 중지
        e.preventDefault();

        // 실제 x가 눌러진 태그 요소 찾기
        console.log("e.target(실제 이벤트 대상) : " + e.target);
        console.log("e.currentTarget(이벤트 대상의 부모) : " + e.currentTarget);

        // href 값 가져오기
        const element = e.target.closest("a");
        console.log(element);
        console.log(element.href);
        console.log(element.getAttribute("href"));

        // 이미지 삭제
        const removeDiv = e.target.closest("div");

        // 삭제할 이미지 경로 추출
        const filePath = element.getAttribute("href");

        let formData = new FormData();
        formData.append("filePath", filePath);

        fetch("/upload/remove", {
          method: "post",
          body: formData,
        })
          .then((response) => {
            if (!response.ok) {
              throw new Error("에러 발생");
            }
            return response.text();
          })
          .then((data) => {
            console.log(data);
            if (data) {
              removeDiv.remove();
            }
          });
      });

      function showUploadImage(files) {
        const output = document.querySelector("#output");

        let tags = "";
        files.forEach((file) => {
          tags += `<div>`;
          tags += `<img src="/upload/display?fileName=${file.thumbImageURL}">`;
          tags += `<a href="${file.imageURL}"><i class="fa-solid fa-xmark"></i></a>`;
          tags += `</div>`;
        });
        output.insertAdjacentHTML("beforeend", tags);
      }

      // 업로드버튼을 누를 시 서버로 File 전송 스크립트 작성
      document.querySelector("#uploadBtn").addEventListener("click", () => {
        const uploadFiles = document.querySelector("[name='uploadFiles']");
        const files = uploadFiles.files;
        console.log("파일 확인 : " + files);
        console.log(files);

        // 스크립트에서 form 작성하기
        let formData = new FormData();
        for (let index = 0; index < files.length; index++) {
          formData.append("uploadFiles", files[index]);
          console.log("인덱스 파일 확인 : " + files[index]);
          console.log(files[index]);
          // upload된 파일들을 key value 형식으로 담기
        }

        for (const element of formData.keys()) {
          console.log("key값 확인 : " + element);
          console.log(element);
        }

        for (const element of formData.values()) {
          console.log("value값 확인 : " + element);
          console.log(element);
        }

        // formData 서버로 전송(ajax)
        fetch("/upload/upload", {
          method: "post",
          body: formData,
        })
          .then((response) => response.json())
          // .json 도 메소드이기때문에 ()를 꼭 붙여줘야한다
          .then((data) => {
            console.log("data 확인 : " + data);
            console.log(data);
            showUploadImage(data);
          });
      });
    </script>
  </body>
</html>
