<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="container">
      <h3 class="mt-3">Register</h3>
      <br />
      <!-- novalidate : html5 에서 제공해주는 기본 validation 안하겠음 -->
      <form
        th:action="@{/users/register}"
        method="post"
        th:object="${clubMemberDTO}"
        novalidate
      >
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label"
            >Email address</label
          >
          <input
            type="email"
            class="form-control"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
            name="email"
            th:value="${clubMemberDTO.email}"
          />
          <div
            th:if="${#fields.hasErrors('email')}"
            th:errors="*{email}"
            class="text-danger"
          ></div>
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input
            type="password"
            class="form-control"
            id="exampleInputPassword1"
            name="password"
            th:value="${clubMemberDTO.password}"
          />
          <div
            th:if="${#fields.hasErrors('password')}"
            th:errors="*{password}"
            class="text-danger"
          ></div>
        </div>
        <div class="mb-3">
          <label for="name" class="form-label">Name</label>
          <input
            type="text"
            class="form-control"
            id="name"
            name="name"
            th:value="${clubMemberDTO.name}"
          />
          <div
            th:if="${#fields.hasErrors('name')}"
            th:errors="*{name}"
            class="text-danger"
          ></div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        <a th:href="@{/}" class="btn btn-info">홈페이지로</a>
      </form>
    </div>
  </body>
</html>
